/vendor
/node_modules
/.env
.env.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json
*.log
storage/framework/*
storage/logs/*
storage/app/public/*
!storage/framework/.gitkeep
!storage/app/public/.gitkeep